<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Order</title>
</head>
<body>

<h2>Create Order</h2>

<form action="#" method="post">
    <label>Author:</label>
    <input type="text" name="author"/>

    <br><br>

    <label>Product Name:</label>
    <input type="text" name="productName"/>

    <br><br>

    <label>Quantity:</label>
    <input type="number" name="quantity"/>

    <br><br>

    <button type="submit">Create Order</button>
</form>

</body>
</html>